<a href="https://colab.research.google.com/github/Sharminrahi/Data-Visualization/blob/main/Assignment_1_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Title: Assignment 1
### Name: Sharmin Akhter
### ID: 201891112
### Date 20-01-2023
### Master of Data Science

# Import Library

In [ ]:
import pandas as pd

# Load Data

In [ ]:
df = pd.read_csv('starwars.csv', na_filter=False)
df

,id,seen_any_films,fan,seen_episode1,seen_episode2,seen_episode3,seen_episode4,seen_episode5,seen_episode6,rank_episode1,...,view_yoda,who_shot_first,familiar_with_expanded_universe,fan_expanded_universe,fan_star_trek,gender,age,household_income,education,location
0,3.292880e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,N/A,High school degree,South Atlantic
1,3.292880e+09,No,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,N/A,N/A,N/A,N/A,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3.292765e+09,Yes,No,Yes,Yes,Yes,No,No,No,1,...,Unfamiliar (N/A),I don't understand this question,No,N/A,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3.292763e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5,...,Very favorably,I don't understand this question,No,N/A,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3.292731e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,3.288389e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5,...,Very favorably,Han,No,N/A,Yes,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central
1182,3.288379e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,4,...,Very favorably,I don't understand this question,No,N/A,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1183,3.288375e+09,No,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,N/A,N/A,N/A,N/A,No,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic
1184,3.288373e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,4,...,Very favorably,Han,No,N/A,Yes,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central
1185,3.288373e+09,Yes,No,Yes,Yes,No,No,Yes,Yes,6,...,Very unfavorably,I don't understand this question,No,N/A,No,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific

# Data Exploration

In [ ]:
df.shape

(1186, 38)

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.head()

,id,seen_any_films,fan,seen_episode1,seen_episode2,seen_episode3,seen_episode4,seen_episode5,seen_episode6,rank_episode1,...,view_yoda,who_shot_first,familiar_with_expanded_universe,fan_expanded_universe,fan_star_trek,gender,age,household_income,education,location
0,3.292880e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,N/A,High school degree,South Atlantic
1,3.292880e+09,No,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,N/A,N/A,N/A,N/A,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3.292765e+09,Yes,No,Yes,Yes,Yes,No,No,No,1,...,Unfamiliar (N/A),I don't understand this question,No,N/A,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3.292763e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5,...,Very favorably,I don't understand this question,No,N/A,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3.292731e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

In [ ]:
df.tail()

,id,seen_any_films,fan,seen_episode1,seen_episode2,seen_episode3,seen_episode4,seen_episode5,seen_episode6,rank_episode1,...,view_yoda,who_shot_first,familiar_with_expanded_universe,fan_expanded_universe,fan_star_trek,gender,age,household_income,education,location
1181,3.288389e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5,...,Very favorably,Han,No,N/A,Yes,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central
1182,3.288379e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,4,...,Very favorably,I don't understand this question,No,N/A,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1183,3.288375e+09,No,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,N/A,N/A,N/A,N/A,No,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic
1184,3.288373e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,4,...,Very favorably,Han,No,N/A,Yes,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central
1185,3.288373e+09,Yes,No,Yes,Yes,No,No,Yes,Yes,6,...,Very unfavorably,I don't understand this question,No,N/A,No,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               1186 non-null   float64
 1   seen_any_films                   1186 non-null   object
 2   fan                              1186 non-null   object
 3   seen_episode1                    1186 non-null   object
 4   seen_episode2                    1186 non-null   object
 5   seen_episode3                    1186 non-null   object
 6   seen_episode4                    1186 non-null   object
 7   seen_episode5                    1186 non-null   object
 8   seen_episode6                    1186 non-null   object
 9   rank_episode1                    1186 non-null   object
 10  rank_episode2                    1186 non-null   object
 11  rank_episode3                    1186 non-null   object
 12  rank_episode4                    1186 non-null   object
 13  rank_episode5                    1186 non-null   object
 14  rank_episode6                    1186 non-null   object
 15  view_han_solo                    1186 non-null   object
 16  view_luke_skywalker              1186 non-null   object
 17  view_princess_leia_organa        1186 non-null   object
 18  view_anakin_skywalker            1186 non-null   object
 19  view_obi_wan_kenobi              1186 non-null   object
 20  view_emperor_palpatine           1186 non-null   object
 21  view_darth_vader                 1186 non-null   object
 22  view_lando_calrissian            1186 non-null   object
 23  view_boba_fett                   1186 non-null   object
 24  view_c3p0                        1186 non-null   object
 25  view_r2d2                        1186 non-null   object
 26  view_jar_jar_binks               1186 non-null   object
 27  view_padme_amidala               1186 non-null   object
 28  view_yoda                        1186 non-null   object
 29  who_shot_first                   1186 non-null   object
 30  familiar_with_expanded_universe  1186 non-null   object
 31  fan_expanded_universe            1186 non-null   object
 32  fan_star_trek                    1186 non-null   object
 33  gender                           1186 non-null   object
 34  age                              1186 non-null   object
 35  household_income                 1186 non-null   object
 36  education                        1186 non-null   object
 37  location                         1186 non-null   object
dtypes: float64(1), object(37)
memory usage: 352.2+ KB

In [ ]:
df.columns

Index(['id', 'seen_any_films', 'fan', 'seen_episode1', 'seen_episode2',
       'seen_episode3', 'seen_episode4', 'seen_episode5', 'seen_episode6',
       'rank_episode1', 'rank_episode2', 'rank_episode3', 'rank_episode4',
       'rank_episode5', 'rank_episode6', 'view_han_solo',
       'view_luke_skywalker', 'view_princess_leia_organa',
       'view_anakin_skywalker', 'view_obi_wan_kenobi',
       'view_emperor_palpatine', 'view_darth_vader', 'view_lando_calrissian',
       'view_boba_fett', 'view_c3p0', 'view_r2d2', 'view_jar_jar_binks',
       'view_padme_amidala', 'view_yoda', 'who_shot_first',
       'familiar_with_expanded_universe', 'fan_expanded_universe',
       'fan_star_trek', 'gender', 'age', 'household_income', 'education',
       'location'],
      dtype='object')

In [ ]:
display(df.dtypes.value_counts())

object     37
float64     1
dtype: int64

In [ ]:
df.describe

<bound method NDFrame.describe of                 id seen_any_films  fan seen_episode1 seen_episode2  \
0     3.292880e+09            Yes  Yes           Yes           Yes
1     3.292880e+09             No  N/A           N/A           N/A
2     3.292765e+09            Yes   No           Yes           Yes
3     3.292763e+09            Yes  Yes           Yes           Yes
4     3.292731e+09            Yes  Yes           Yes           Yes
...            ...            ...  ...           ...           ...
1181  3.288389e+09            Yes  Yes           Yes           Yes
1182  3.288379e+09            Yes  Yes           Yes           Yes
1183  3.288375e+09             No  N/A           N/A           N/A
1184  3.288373e+09            Yes  Yes           Yes           Yes
1185  3.288373e+09            Yes   No           Yes           Yes

     seen_episode3 seen_episode4 seen_episode5 seen_episode6 rank_episode1  \
0              Yes           Yes           Yes           Yes             3
1              N/A           N/A           N/A           N/A           N/A
2              Yes            No            No            No             1
3              Yes           Yes           Yes           Yes             5
4              Yes           Yes           Yes           Yes             5
...            ...           ...           ...           ...           ...
1181           Yes           Yes           Yes           Yes             5
1182           Yes           Yes           Yes           Yes             4
1183           N/A           N/A           N/A           N/A           N/A
1184           Yes           Yes           Yes           Yes             4
1185            No            No           Yes           Yes             6

      ...           view_yoda                    who_shot_first  \
0     ...      Very favorably  I don't understand this question
1     ...                 N/A                               N/A
2     ...    Unfamiliar (N/A)  I don't understand this question
3     ...      Very favorably  I don't understand this question
4     ...  Somewhat favorably                            Greedo
...   ...                 ...                               ...
1181  ...      Very favorably                               Han
1182  ...      Very favorably  I don't understand this question
1183  ...                 N/A                               N/A
1184  ...      Very favorably                               Han
1185  ...    Very unfavorably  I don't understand this question

     familiar_with_expanded_universe fan_expanded_universe fan_star_trek  \
0                                Yes                    No            No
1                                N/A                   N/A           Yes
2                                 No                   N/A            No
3                                 No                   N/A           Yes
4                                Yes                    No            No
...                              ...                   ...           ...
1181                              No                   N/A           Yes
1182                              No                   N/A           Yes
1183                             N/A                   N/A            No
1184                              No                   N/A           Yes
1185                              No                   N/A            No

      gender    age     household_income                         education  \
0       Male  18-29                  N/A                High school degree
1       Male  18-29         $0 - $24,999                   Bachelor degree
2       Male  18-29         $0 - $24,999                High school degree
3       Male  18-29  $100,000 - $149,999  Some college or Associate degree
4       Male  18-29  $100,000 - $149,999  Some college or Associate degree
...      ...    ...                  ...                               ...
1181  Female  18-29         $0 - $24,999  Some college or Associate degree
1182  Female  30-44    $50,000 - $99,999                   Bachelor degree
1183  Female  30-44    $50,000 - $99,999                   Bachelor degree
1184  Female  45-60  $100,000 - $149,999  Some college or Associate degree
1185  Female   > 60    $50,000 - $99,999                   Graduate degree

                location
0         South Atlantic
1     West South Central
2     West North Central
3     West North Central
4     West North Central
...                  ...
1181  East North Central
1182            Mountain
1183     Middle Atlantic
1184  East North Central
1185             Pacific

[1186 rows x 38 columns]>

In [ ]:
df.describe()

                 id
count  1.186000e+03
mean   3.290128e+09
std    1.055639e+06
min    3.288373e+09
25%    3.289451e+09
50%    3.290147e+09
75%    3.290814e+09
max    3.292880e+09

In [ ]:
df.isna().sum()

id                                 0
seen_any_films                     0
fan                                0
seen_episode1                      0
seen_episode2                      0
seen_episode3                      0
seen_episode4                      0
seen_episode5                      0
seen_episode6                      0
rank_episode1                      0
rank_episode2                      0
rank_episode3                      0
rank_episode4                      0
rank_episode5                      0
rank_episode6                      0
view_han_solo                      0
view_luke_skywalker                0
view_princess_leia_organa          0
view_anakin_skywalker              0
view_obi_wan_kenobi                0
view_emperor_palpatine             0
view_darth_vader                   0
view_lando_calrissian              0
view_boba_fett                     0
view_c3p0                          0
view_r2d2                          0
view_jar_jar_binks                 0
view_padme_amidala                 0
view_yoda                          0
who_shot_first                     0
familiar_with_expanded_universe    0
fan_expanded_universe              0
fan_star_trek                      0
gender                             0
age                                0
household_income                   0
education                          0
location                           0
dtype: int64

In [ ]:
print('Count of NAN ' + str(df.isnull().sum().sum()))

Count of NAN 0

# Question 1: 
Write code that determines the number of unique values for age.

In [ ]:
df['age'].value_counts()

45-60    291
> 60     269
30-44    268
18-29    218
N/A      140
Name: age, dtype: int64

In [ ]:
df['age'].nunique()

5

In [ ]:
age_unique = df['age'].unique()
print(age_unique)

['18-29' 'N/A' '30-44' '> 60' '45-60']

# Question 2:
Write code that lists all the unique responses to the question, "Who shot first?" (who_shot_first
field).

In [ ]:
#.unique() returns a list of all the unique values in the data
unique_response = df['who_shot_first'].unique() 
print(unique_response)

["I don't understand this question" 'N/A' 'Greedo' 'Han']

In [ ]:
no_response = df['who_shot_first'].nunique()
no_response

4

# Question 3: 
Write code to determine the number of entries in the data set that view Darth Vader as "Very
favorably" or "Somewhat favorably".

In [ ]:
# Number of entries using.loc
number_entries = df.loc[df['view_darth_vader'].isin(['Very favorably', 'Somewhat favorably'])].shape[0]
print(number_entries)

481

# Question 4:
Write code that computes the total number of people that have seen all 6 Star Wars films (hint:
471).

In [ ]:
#Count total number of people
count = df.loc[(df['seen_episode1'] == 'Yes') & (df['seen_episode2'] == 'Yes') & (df['seen_episode3'] == 'Yes') & (df['seen_episode4'] == 'Yes') & (df['seen_episode5'] == 'Yes') & (df['seen_episode6'] == 'Yes')].shape[0]
print(count)

471

# Question 5: 
Write code that computes the percentage of males and females that are fans of Star Wars.

In [ ]:
#Calculate the percentage of male fans
male_fans = df[(df['gender'] == 'Male') & (df['fan'] == 'Yes')]
male_percent = (len(male_fans) / len(df[df['gender'] == 'Male'])) * 100

#Calculate the percentage of female fans
female_fans = df[(df['gender'] == 'Female') & (df['fan'] == 'Yes')]
female_percent = (len(female_fans) / len(df[df['gender'] == 'Female'])) * 100

#Print the results
print("Percentage of male fans: {}%".format(male_percent))
print("Percentage of female fans: {}%".format(female_percent))

Percentage of male fans: 60.96579476861167%
Percentage of female fans: 43.35154826958106%